<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/edit.css">

</head>
<body>
  <a href="/profile" class="back-btn">Back to Profile</a>
  <h1>Edit Post</h1>
  <h2>Hello, Welcome <%= user.username %></h2>
  <p>Edit your post</p>
  <form action="/edits/<%= post.id %>" method="post">
    <textarea name="content"><%= post.content %></textarea>
    <button type="submit">Edit Post</button>
  </form>
  
      
  </div>
</body>
</html>