<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/index.css">

</head>
<body>
  <form action="/create" method="post">
    <input type="text" name="username" placeholder="User name">
    <input type="email" name="email" placeholder="Email Address">
    <input type="password" name="password" placeholder="Password">
    <input type="number" name="age" placeholder="User age">
    <button type="submit">Submit</button>
     <a style="color:rgb(169, 158, 158); gap:5px" href="/login">Already have account</a>
  </form>
</body>
</html>