<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/style/post.css">
</head>
<body>
  <a href="/dashboard" class="back-btn">Back to Dashboard</a>
  <h1>All Posts</h1>
  <% posts.forEach((post) => { %>
    <div class="post">
      <p>@<%= post.user.username %></p>
      <p><%= post.content %></p>
      <% let liked = post.likes.includes(post.user._id.toString()); %>
      <a href="/like/<%= post._id %>" class="like-btn">
        <%= post.likes.length %>  
         Like
      </a>
    </div>
  <% }) %>
</body>
</html>
