<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheet/output.css">
  <title>registration</title>
</head>
<body  class="bg-slate-900 h-screen w-screen text-white">
  <!-- logo section goes here -->
  <div class="text-4xl m-4">Durga Grocery</div>
  <!-- main body for sign up form  -->
  <div class= "h-auto w-90 flex flex-col justify-center items-center mx-auto my-auto  mt-10 md:border-2 md:border-white  p-10 rounded-2xl">
    <div class="text-2xl mb-10">Sign Up</div>

    <!-- this is form for registration -->
      <form class="flex flex-col " method="POST" action="/register">
        <input class="border-b outline-none items-center mb-7 p-1 w-70" placeholder="Name" name="username">
        <input class="border-b outline-none items-center mb-7 p-1 w-70" placeholder="Email" type="email" name="email">

        <div class="relative w-70 mb-7">
            <!-- Password input -->
            <input type="password" id="pw" 
                  class="border-b p-1 w-70 focus:outline-none"
                  placeholder="Password" name="password">

            <!-- Eye icon button -->
            <button type="button" id="eye" 
                    class="absolute right-0.5 top-0.5 text-gray-500 hover:text-gray-700 focus:outline-none"
                    onclick="togglePw()">
              <!-- Eye SVG -->
              <svg id="eye-open" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
                  stroke-width="2" stroke="currentColor" class="w-5 h-5">
                <path stroke-linecap="round" stroke-linejoin="round" 
                      d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
                <path stroke-linecap="round" stroke-linejoin="round" 
                      d="M2.458 12C3.732 7.943 7.523 5 12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-4.477 0-8.268-2.943-9.542-7z"/>
              </svg>

              <!-- Eye slash SVG (hidden by default) -->
           <svg id="eye-closed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" 
           stroke-width="2" stroke="currentColor" class="w-5 h-5 hidden">
           <path stroke-linecap="round" stroke-linejoin="round" 
            d="M3 3l18 18M9.879 9.879a3 3 0 104.242 4.242M12 5c4.477 0 8.268 2.943 9.542 7-1.274 4.057-5.065 7-9.542 7-2.036 0-3.918-.768-5.364-2.01" />
           </svg>
            </button>
          </div>

        <button class="bg-blue-600  mt-5 p-1 rounded-md hover:bg-blue-500 cursor-pointer">Sign Up</button>
        <div class="mt-5">
        <input class="bg-slate-900 hover:size-4" type="checkbox" id="remember" name="remember" value="remenber">
        <label for="remember">Remind me</label><br>
        </div>
      </form>
      <!-- this is line for other login methods -->
    <div class="mt-5 flex flex-row items-center gap-3">
      <div class="border-b w-18"></div>
      <div class="text-sm">or sign up with</div>
      <div class="border-b w-18"></div>
    </div>
    <!-- this is other login methods like google facebook github -->
     <div class="flex flex-row gap-8 ">
      <button class="mt-5 p-1 rounded-md cursor-pointer  outline-none mb-3">
        <img src="https://www.gstatic.com/firebasejs/ui/2.0.0/images/auth/google.svg"
       alt="Google"
       class="w-6 h-6">
      </button>
      <button class="mt-5 p-1 rounded-md cursor-pointer  mb-3">
        <img src="https://www.svgrepo.com/show/303113/facebook-icon-logo.svg"
       alt="Facebook"
       class="w-6 h-6">
      </button>
      <button class="mt-5 p-1 rounded-md cursor-pointer mb-3">
        <img src="https://www.svgrepo.com/show/512317/github-142.svg"
       alt="Github"
       class="w-7 h-7">
      </button>
     </div>
  </div>
  <!-- this section make user to redirect to login page if already have account -->
   <div class="flex justify-center gap-3 mt-5">
    <div>Already have an account?</div>
    <div> 
      <a class="text-blue-600 underline hover:text-blue-500 mb-5" href="/login">Sign in</a>
    </div>
   </div>
   <script type="text/javascript" src="/javascript/eyeToggle.js"></script>
</body>
</html>